;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [[doughamil/threeagent "1.0.0-SNAPSHOT"]
  [cljs-http "0.1.45"]
  [cider/cider-nrepl "0.26.0"]
  [clj-statecharts "0.1.0"]]

 :nrepl {:port 7888}
 :build-defaults {:compiler-options {:output-feature-set :es8}}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn zombie.app/init}}
   :js-options {:babel-preset-config {:targets {:chrome "90"}}
                :entry-keys ["module" "browser" "main"]}
   :devtools
   {:http-root "public"
    :http-port 8080}}}}
